# 12. 데이터 수정

In [ ]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  JavaScript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕구  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   44   65   45  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

### Column 수정

In [ ]:
df['학교'].replace(
        {
            '북산고' : '상북고',
            '능남고' : '무슨고'
        }
    )
# inplace=True를 하면 실제 값이 바뀜

지원번호
1번    상북고
2번    상북고
3번    상북고
4번    상북고
5번    상북고
6번    무슨고
7번    무슨고
8번    무슨고
Name: 학교, dtype: object

In [9]:
df['SW특기'].str.lower()

지원번호
1번        python
2번          java
3번    javascript
4번           NaN
5번           NaN
6번             c
7번        python
8번            c#
Name: SW특기, dtype: object

In [11]:
df['SW특기'] = df['SW특기'].str.lower() # 모든글자 소문자
df
# 대문자는 upper()

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      python
2번    정대만  북산고  184   40   35   50  55  25        java
3번    송태섭  북산고  168   80   75   70  80  75  javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕구  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   44   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [21]:
df['학교'] = df['학교'] + '등학교' # 학교 데이터 + 등학교

In [23]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python
2번    정대만  북산고등학교  184   40   35   50  55  25        Java
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN
6번    변덕구  능남고등학교  202   80  100   95  85  80           C
7번    황태산  능남고등학교  188   44   65   45  40  35      Python
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#

### Column 추가

In [24]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  380
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN  325
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90
6번    변덕구  능남고등학교  202   80  100   95  85  80           C  440
7번    황태산  능남고등학교  188   44   65   45  40  35      Python  229
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465

In [25]:
df['결과'] = 'Fail' # 결과 Column을 추가하고 전체 데이터는 Fail로 초기화
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Fail
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  380  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕구  능남고등학교  202   80  100   95  85  80           C  440  Fail
7번    황태산  능남고등학교  188   44   65   45  40  35      Python  229  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Fail

In [26]:
df.loc[df['총합'] > 400, '결과'] = 'Pass' # 총합이 400보다 큰 데이터에 대해서 결과를 Pass로 변경

In [27]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  380  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕구  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   44   65   45  40  35      Python  229  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

## Column 삭제

In [29]:
df.drop(columns=['총합']) # 총합 컬럼 삭제

       이름      학교    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN  Fail
6번    변덕구  능남고등학교  202   80  100   95  85  80           C  Pass
7번    황태산  능남고등학교  188   44   65   45  40  35      Python  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  Pass

In [30]:
df.drop(columns=['국어', '영어', '수학']) # 국영수 컬럼 삭제

       이름      학교    키  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197  95  85      Python  455  Pass
2번    정대만  북산고등학교  184  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168  80  75  JavaScript  380  Fail
4번    서태웅  북산고등학교  187  75  80         NaN  325  Fail
5번    강백호  북산고등학교  188  35  10         NaN   90  Fail
6번    변덕구  능남고등학교  202  85  80           C  440  Pass
7번    황태산  능남고등학교  188  40  35      Python  229  Fail
8번    윤대협  능남고등학교  190  95  95          C#  465  Pass

### Row 삭제

In [32]:
df.drop(index="4번") # 4번 학생 데이터 row 삭제

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  380  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕구  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   44   65   45  40  35      Python  229  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

In [33]:
filt = df['수학'] < 80 # 수학 점수 80점 미만 학생 필터링
df[filt]

       이름      학교    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
2번    정대만  북산고등학교  184  40  35  50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168  80  75  70  80  75  JavaScript  380  Fail
4번    서태웅  북산고등학교  187  40  60  70  75  80         NaN  325  Fail
5번    강백호  북산고등학교  188  15  20  10  35  10         NaN   90  Fail
7번    황태산  능남고등학교  188  44  65  45  40  35      Python  229  Fail

In [34]:
df[filt].index

Index(['2번', '3번', '4번', '5번', '7번'], dtype='object', name='지원번호')

In [35]:
df.drop(index=df[filt].index)

       이름      학교    키   국어   영어   수학  과학  사회    SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85  Python  455  Pass
6번    변덕구  능남고등학교  202   80  100   95  85  80       C  440  Pass
8번    윤대협  능남고등학교  190  100   85   90  95  95      C#  465  Pass

### Row 추가

In [36]:
# 새로운 Row 추가
df.loc['9번'] = ['이정환', '해남고등학교', 184, 90, 90, 90, 90, 90, 'Kotlin', 450, 'Pass']

In [37]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  380  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕구  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   44   65   45  40  35      Python  229  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

### Cell 수정

In [38]:
df.loc['4번', 'SW특기'] = 'Python' # 4번 학생의 SW특기 값을 Python으로 변경
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  380  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80      Python  325  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕구  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   44   65   45  40  35      Python  229  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

In [39]:
df.loc['5번', ['학교', 'SW특기']] = ['능남고등학교', 'C'] # 5번학생의 학교는 능남고등학교 특기는 C
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  380  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80      Python  325  Fail
5번    강백호  능남고등학교  188   15   20   10  35  10           C   90  Fail
6번    변덕구  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   44   65   45  40  35      Python  229  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

### Column 순서 변경

In [40]:
cols = list(df.columns)
cols

['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [45]:
# 맨 뒤에 있는 결과 Column을 앞으로 가져오고 나머지 column들과 하벼서 순서 변경
df = df[[cols[-1]] + cols[0:-1]]
df

        결과   이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    Pass  채치수  북산고등학교  197   90   85  100  95  85      Python  455
2번    Fail  정대만  북산고등학교  184   40   35   50  55  25        Java  205
3번    Fail  송태섭  북산고등학교  168   80   75   70  80  75  JavaScript  380
4번    Fail  서태웅  북산고등학교  187   40   60   70  75  80      Python  325
5번    Fail  강백호  능남고등학교  188   15   20   10  35  10           C   90
6번    Pass  변덕구  능남고등학교  202   80  100   95  85  80           C  440
7번    Fail  황태산  능남고등학교  188   44   65   45  40  35      Python  229
8번    Pass  윤대협  능남고등학교  190  100   85   90  95  95          C#  465
9번    Pass  이정환  해남고등학교  184   90   90   90  90  90      Kotlin  450